<!DOCTYPE html>
<html>
    
<head>
    <title>Contact Me</title>
     <% include ./partials/cssIncludes.ejs %>
    <link rel="stylesheet" 	
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <style>
       .bigIcon{
   
    padding-left: 65px;
    padding-right: 160px;
}
        a:hover{
    text-decoration: none;
}
    .navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { text-decoration: none;  }
    </style>
    
</head>
    
<body>     
    
    <% include ./partials/menu.ejs %>
    <br/><br/><br/><br/><br/>
    
    <div class="container">  
        
        <div class="row">
         <p style="font-size:30px"> Have something for me ... </p>
        </div><br/>
        
         <div class="row">  
          <div class="col-sm-offset-2 col-md-6">                 
             <img src="/images/contact-me.jpg"/>
          </div>
         </div> <br/><br/>
        
          <div class="row">
           <div class="col-centered text-center  col-md-12">

				<a target="_blank" href="https://in.linkedin.com/in/ktsprasad">
					<i style="font-size: 40px" class="bigIcon fa fa-linkedin"></i>
               </a>
               
               <a target="_blank" href="https://plus.google.com/+SrinivasPrasadSGowda">
					<i style="font-size: 40px" class="bigIcon fa fa-google-plus"></i>
				</a> 
			</div>
           
          </div><br/><br/>
        
        <div class="row">
            <div class="col-sm-offset-3 col-md-6">
              <p style="font-size:30px"> 
               if(urgent){shoot me a mail at   
               <a target="_blank" href="mailto:ktsrinivasgowda@gmail.com">ktsrinivas</a>}
              </p>
            </div>
        </div>
        
    </div>
    
</body>
</html>

