
<html>
    
<head>
     <% include ./partials/cssIncludes.ejs %>
     <title>KTSrinivas</title>

</head>
    
<body>     
    
    <% include ./partials/menu.ejs %>
    <br/><br/><br/><br/><br/><br/>
    
    <div class="container">
    
         <div class="row">
        
          <div class="col-md-6">
          <img class="img-responsive center-block img-circle" src="images/iamkt.jpg"/>        
          </div>
             
          <div class="col-md-5">
                <p style="font-size:30px">
                 In morning I'm a test engineer, writing tests and automating applications.
                 By afternoon I fiddle with software bugs and developers, by night I make sure thing are working smoothly. By the way, my parents gave me beautiful name of Srinivas.    
                </p>  
          </div>     
        
         </div>
        
    </div>
    
</body>
</html>

